body{
    font-family: League Spartan ;
    font-size: larger;
    background-color: rgb(20, 7, 32);
    
}


.img-md{
    max-width: 270px;
    height: auto;

}
.img-sm{
    height: 120px;
    width: 150px;
    
    
}
.img-icon{
    max-width: 40px;
    height: auto;
    margin: 5px;
    
}

.hero{
    margin-top: 150px;
}

.logo{
    color: #5df0c4;
    font:  normal normal normal 25px/1.6em avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
    text-shadow: 0 1px 4px rgba(2, 255, 149, 0.6) ;
}

.colour-text{
    color: #00C851;
     /* text-shadow: 0 1px 4px rgba(196, 187, 187, 0.6) ; */
}

.card{
    padding: 1%;
    width: 280px;
    /* height: 390px; */
    box-shadow: 0 1px 4px rgba(177, 255, 209, 0.6);
}

.card-img{
    
    max-width: min-content;
    max-height:auto ;
}

.flexbox-gap {
    display: flex;
    column-gap: 20px;
    row-gap: 20px
}